/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #282B38;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  padding-top: 58px;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.header__mail {
  border: 3px solid #00E3E3;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 436px;
      -ms-flex: 0 1 436px;
          flex: 0 1 436px;
  height: 69px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 54px;
     -moz-column-gap: 54px;
          column-gap: 54px;
  padding-left: 21px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #00E3E3), color-stop(20%, #00E3E3), color-stop(20%, transparent), color-stop(80%, transparent));
  background-image: -webkit-linear-gradient(left, #00E3E3 0, #00E3E3 20%, transparent 20%, transparent 80%);
  background-image: -o-linear-gradient(left, #00E3E3 0, #00E3E3 20%, transparent 20%, transparent 80%);
  background-image: linear-gradient(to right, #00E3E3 0, #00E3E3 20%, transparent 20%, transparent 80%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.header__mail img {
  width: 41px;
  height: 27px;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.header__mail-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #00E3E3;
  text-decoration: none;
}

.header__mail:hover {
  background: #00E3E3;
}

.header__mail:hover .header__mail-link {
  color: black;
}

.header__mail:hover img {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (max-width: 900px) {
  .header__link .img {
    width: 240px;
  }
  .header__mail {
    height: 49px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 350px;
        -ms-flex: 0 1 350px;
            flex: 0 1 350px;
    padding-left: 13px;
  }
  .header__mail-link {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header__mail {
    height: 41px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 350px;
        -ms-flex: 0 1 350px;
            flex: 0 1 350px;
    padding-left: 13px;
    background: #00E3E3;
    -webkit-flex: 0 1 41px;
        -ms-flex: 0 1 41px;
            flex: 0 1 41px;
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 22px;
  }
  .header__mail-link {
    display: none;
  }
}

@media (max-width: 900px) {
  .header__link img {
    width: 170px;
  }
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: #FFFFFF;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #FFFFFF;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: bottom;
  -webkit-align-items: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 46px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 492px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
}

.promo__container {
  padding-top: 160px;
  min-height: 986px;
  background: url("../img/promo/promo-bg.webp") center right no-repeat;
  padding-bottom: 200px;
  z-index: -1;
}

.promo__title {
  max-width: 670px;
  margin-bottom: 56px;
}

.promo__desc {
  max-width: 670px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 134px;
}

.promo__issue-btn {
  max-width: 545px;
  width: 100%;
  border: 3px solid #00E3E3;
  height: 89px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #00E3E3), color-stop(60%, #00E3E3), color-stop(60%, transparent), to(transparent));
  background-image: -webkit-linear-gradient(left, #00E3E3 0, #00E3E3 60%, transparent 60%, transparent 100%);
  background-image: -o-linear-gradient(left, #00E3E3 0, #00E3E3 60%, transparent 60%, transparent 100%);
  background-image: linear-gradient(to right, #00E3E3 0, #00E3E3 60%, transparent 60%, transparent 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.promo__issue-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.promo__sub {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #0E0605;
}

.promo__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #00E3E3;
}

.promo__qual {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .promo__container {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-background-size: 400px auto;
            background-size: 400px auto;
  }
  .promo__title {
    max-width: 530px;
  }
  .promo__desc {
    font-size: 22px;
    max-width: 530px;
  }
}

@media (max-width: 900px) {
  .promo__container {
    -webkit-background-size: 330px auto;
            background-size: 330px auto;
    background-position-x: 110%;
    min-height: 890px;
  }
  .promo__title {
    max-width: 430px;
    margin-bottom: 16px;
  }
  .promo__desc {
    max-width: 430px;
    font-size: 20px;
    margin-bottom: 62px;
  }
  .promo__issue-btn {
    padding: 0 15px;
    max-width: 390px;
    height: 69px;
  }
  .promo__sub {
    font-size: 18px;
  }
  .promo__price {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .promo__container {
    -webkit-background-size: 230px auto;
            background-size: 230px auto;
    min-height: 730px;
    padding-bottom: 60px;
  }
}

@media (max-width: 512px) {
  .promo__container {
    min-height: 470px;
    padding-top: 60px;
    -webkit-background-size: 180px auto;
            background-size: 180px auto;
    background-position-y: center;
  }
  .promo__title {
    max-width: 260px;
  }
  .promo__desc {
    font-size: 14px;
    max-width: 260px;
  }
  .promo__issue-btn {
    padding: 0 15px;
    max-width: 290px;
    height: 38px;
  }
  .promo__sub {
    font-size: 12px;
  }
  .promo__price {
    font-size: 12px;
  }
}

@media (max-width: 390px) {
  .promo__container {
    min-height: 380px;
    -webkit-background-size: 124px auto;
            background-size: 124px auto;
  }
}

.work {
  padding-bottom: 165px;
}

.work__container {
  padding: 0 15px;
}

.work__title {
  position: relative;
  overflow: hidden;
}

.work__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 670px;
  height: 4px;
  background: #00E3E3;
}

.work__cards {
  margin-top: 164px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 80px;
}

@media (max-width: 790px) {
  .work__cards {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work__title {
    padding-bottom: 3px;
  }
  .work__title::after {
    width: 290px;
    left: 0%;
    height: 2px;
  }
}

@media (max-width: 492px) {
  .work {
    padding-bottom: 60px;
  }
  .work__title {
    padding-bottom: 3px;
  }
  .work__title::after {
    width: 290px;
    left: 0%;
    height: 2px;
  }
  .work__cards {
    margin-top: 48px;
    row-gap: 16px;
  }
}

.card-work {
  width: 370px;
  min-height: 412px;
  background: rgba(255, 255, 255, 0.15);
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 12px 12px rgba(38, 20, 41, 0.46);
          box-shadow: 0px 12px 12px rgba(38, 20, 41, 0.46);
  padding: 144px 34px 90px 33px;
  position: relative;
}

.card-work__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-work__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  max-width: 179px;
}

.card-work__icon {
  width: 70px;
  height: 70px;
}

.card-work__animate {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 33px;
}

.card-work p {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 96px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card-work__decor {
  width: 302px;
  height: 4px;
  background: #00E3E3;
  margin: 23px 0;
}

.card-work__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.card-work .lg {
  left: 93px;
}

@media (max-width: 492px) {
  .card-work {
    width: 350px;
    min-height: 170px;
    padding: 20px;
  }
  .card-work__animate {
    width: 81px;
    height: 79px;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card-work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    max-width: 165px;
  }
  .card-work__icon {
    width: 43px;
  }
  .card-work__title {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 6px;
    height: 56px;
  }
  .card-work__decor {
    max-width: 210px;
    margin: 0 0 6px auto;
  }
  .card-work__desc {
    max-width: 210px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: auto;
  }
  .card-work p {
    top: 50%;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    left: 52px;
  }
  .card-work .lg {
    left: 50px;
  }
}

.report {
  padding-bottom: 164px;
}

.report .container {
  padding: 0 150px;
  max-width: 1470px;
  margin: 0 auto;
}

.report__title {
  margin-bottom: 80px;
}

.report__title::after {
  width: 400px;
}

.report__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

@media (max-width: 1024px) {
  .report .container {
    padding: 0 110px;
  }
}

@media (max-width: 768px) {
  .report .container {
    padding: 0 15px;
  }
  .report__title {
    max-width: 290px;
  }
  .report__title::after {
    width: 290px;
  }
  .report__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 58px;
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
  }
}

@media (max-width: 492px) {
  .report {
    padding-bottom: 60px;
  }
  .report__container {
    padding-left: 20px;
  }
  .report__title {
    max-width: 290px;
  }
  .report__title::after {
    width: 290px;
  }
}

.card-report {
  min-height: 260px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  position: relative;
}

.card-report__info {
  grid-column: span 4;
  background: rgba(255, 255, 255, 0.15);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  padding: 63px 50px;
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.card-report__img {
  display: none;
}

.card-report__picture {
  grid-column: span 8;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.card-report__picture img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-report__picture img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.card-report__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  max-width: 270px;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.card-report__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.card-report__arrow {
  width: 334px;
  height: 334px;
}

.card-report__arrow_left {
  position: absolute;
  top: -55px;
  left: -220px;
}

.card-report__arrow_right {
  right: -220px;
  position: absolute;
  top: -55px;
}

.card-report__arrow_bottom {
  display: none;
  position: absolute;
  top: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1600px) {
  .card-report__arrow {
    display: none;
  }
}

@media (max-width: 1270px) {
  .card-report {
    min-height: 210px;
  }
  .card-report__info {
    padding: 31px 25px;
  }
  .card-report__title {
    font-size: 18px;
  }
  .card-report__desc {
    font-size: 14px;
  }
  .card-report__arrow_left {
    position: absolute;
    top: -95px;
    left: -220px;
  }
  .card-report__arrow_right {
    right: -220px;
    position: absolute;
    top: -55px;
  }
}

@media (max-width: 1140px) {
  .card-report {
    min-height: 210px;
  }
  .card-report__info {
    padding: 31px 20px;
  }
}

@media (max-width: 1024px) {
  .card-report__info {
    grid-column: span 12;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .card-report__picture {
    grid-column: span 12;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .card-report__arrow {
    width: 234px;
  }
  .card-report__arrow_right {
    top: -105px;
    right: -160px;
  }
  .card-report__arrow_left {
    left: -160px;
  }
}

@media (max-width: 768px) {
  .card-report {
    grid-column: span 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .card-report__arrow {
    display: none;
  }
  .card-report__picture {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    height: 130px;
  }
  .card-report__picture img {
    height: 130px;
  }
  .card-report__info {
    height: 220px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 492px) {
  .card-report__img {
    display: block;
    width: 100%;
  }
  .card-report__img_big {
    display: none;
  }
  .card-report__info {
    height: 177px;
    padding: 0 14px;
    padding-top: 24px;
    padding-bottom: 33px;
  }
  .card-report__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #00E3E3;
    margin-bottom: 12px;
    max-width: 140px;
  }
  .card-report__desc {
    font-size: 12px;
    line-height: 1.2;
    max-width: 140px;
  }
  .card-report__arrow_bottom {
    display: block;
  }
}

.subscription {
  padding-bottom: 135px;
}

.subscription__container {
  padding: 0 15px;
}

.subscription__title {
  margin-bottom: 80px;
}

.subscription__title::after {
  max-width: 240px;
}

.subscription__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription__qual {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 9px;
}

.subscription__desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  max-width: 670px;
}

.subscription__desc a {
  color: #00E3E3;
  text-decoration: none;
}

.subscription .promo__issue-btn {
  display: none;
}

@media (max-width: 900px) {
  .subscription__desc {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .subscription__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 60px;
  }
  .subscription__desc {
    font-size: 28px;
  }
  .subscription__title {
    margin-bottom: 40px;
  }
  .subscription__title::after {
    max-width: 160px;
  }
}

@media (max-width: 492px) {
  .subscription {
    padding-bottom: 60px;
  }
  .subscription__desc {
    font-size: 24px;
  }
  .subscription__title {
    max-width: 300px;
  }
  .subscription__title::after {
    max-width: 100%;
  }
  .subscription .button {
    display: none;
  }
  .subscription .promo__issue-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.button {
  display: block;
  width: 326px;
  height: 89px;
  left: 375px;
  top: 3567px;
  background: #00E3E3;
  border: 3px solid #00E3E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0E0605;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.button:active {
  padding-top: 4px;
  background-color: #02bebe;
}

.benefits {
  padding-bottom: 74px;
}

.benefits__title::after {
  width: 620px;
  margin-top: 2px;
}

.benefits .container {
  padding: 0 15px;
}

.benefits__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 90px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  position: relative;
}

.benefits__card {
  grid-column: span 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  width: 570px;
  min-height: 260px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 12px 12px rgba(38, 20, 41, 0.46);
          box-shadow: 0px 12px 12px rgba(38, 20, 41, 0.46);
  position: relative;
}

.benefits__desc {
  max-width: 229px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
}

.benefits__animate-mobile {
  display: none;
  position: absolute;
  top: 50%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits__animate-text {
  position: absolute;
  left: 47%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 42px;
  line-height: 1.2;
}

.benefits__animate-text_mobile {
  display: none;
}

.benefits__animate-blur {
  display: none;
}

.benefits__button {
  max-width: 570px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #00E3E3), color-stop(50%, #00E3E3), color-stop(50%, transparent), to(transparent));
  background-image: -webkit-linear-gradient(left, #00E3E3 0, #00E3E3 50%, transparent 50%, transparent 100%);
  background-image: -o-linear-gradient(left, #00E3E3 0, #00E3E3 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(to right, #00E3E3 0, #00E3E3 50%, transparent 50%, transparent 100%);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 162px;
     -moz-column-gap: 162px;
          column-gap: 162px;
  padding-left: 60px;
  margin-left: auto;
  margin-top: 164px;
}

.benefits__qual {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 9px;
  text-align: right;
}

.benefits__cont {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 158px;
  height: 170px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1240px) {
  .benefits__card {
    grid-column: span 4;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .benefits__button {
    padding-left: 0px;
    -webkit-column-gap: 120px;
       -moz-column-gap: 120px;
            column-gap: 120px;
  }
}

@media (max-width: 768px) {
  .benefits__card {
    width: 470px;
  }
}

@media (max-width: 512px) {
  .benefits {
    padding-bottom: 45px;
  }
  .benefits__title {
    font-size: 13px;
    max-width: 350px;
  }
  .benefits__title::after {
    width: 260px;
  }
  .benefits__cards {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    row-gap: 12px;
  }
  .benefits__card {
    max-width: 170px;
    width: 100%;
    grid-column: span 2;
    margin: 0;
    min-height: 110px;
    height: 100%;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefits__animate {
    display: none;
  }
  .benefits__animate-mobile {
    display: block;
    z-index: 9;
  }
  .benefits__animate-text {
    display: none;
  }
  .benefits__animate-text_mobile {
    position: absolute;
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 100;
    z-index: 10;
  }
  .benefits__animate-blur {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 114px;
    height: 114px;
    background: rgba(0, 227, 227, 0.9);
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
  .benefits__desc {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    max-width: 133px;
  }
  .benefits__button {
    width: 240px;
    margin-left: 0;
    -webkit-column-gap: 57px;
       -moz-column-gap: 57px;
            column-gap: 57px;
    padding-left: 36px;
    margin-top: 58px;
    margin-bottom: 0px;
  }
  .benefits__qual {
    font-size: 10px;
    text-align: left;
    margin-top: 7px;
  }
  .benefits__cont {
    display: none;
  }
}

.footer {
  padding-bottom: 100px;
}

.footer__link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

.footer__decor {
  max-width: 600px;
  width: 100%;
  height: 4px;
  background: #00E3E3;
  margin: 43px auto;
}

@media (max-width: 512px) {
  .footer__link {
    font-size: 10px;
  }
  .footer__decor {
    max-width: 226px;
    margin: 18px auto;
    height: 2px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/Group 39.webp") center center/cover no-repeat;
  background-color: #0E0605;
  z-index: 2;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.first-bg {
  position: absolute;
  max-width: 924px;
  max-height: 924px;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 741px;
  background: rgba(0, 227, 227, 0.3);
  -webkit-filter: blur(500px);
          filter: blur(500px);
}

.second-bg {
  position: absolute;
  max-width: 1119px;
  max-height: 1119px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 2456px;
  background: rgba(168, 0, 227, 0.3);
  -webkit-filter: blur(500px);
          filter: blur(500px);
}

@media (max-width: 492px) {
  body {
    background: url("../img/Group 40.webp") center center/cover no-repeat;
    background-color: #0E0605;
  }
}
