.benefits{
    min-height: 725px;
    padding-top: 90px;
        background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
        border-radius: 20px;
        max-width: 1820px;
        width: 100%;
        margin: 0 auto;
    &__items{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 50px;
        column-gap: 30px;
        row-gap: 50px;
        padding-bottom: 10px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-column: span 3;
        align-items: center;
        object-fit: cover;
    }
    &__icon{
        width: 113px;
        height: 113px;
    }
    &__sub{
        max-width: 140px;
        &_lg{
            max-width: 250px;
        }
    }
}
@media (max-width: 920px){
    .benefits{
        &__item{
            grid-column: span 6;
        }
    }
}
@media (max-width: 768px){
    .benefits{
        &__items{
            max-width: 700px;
            grid-template-columns: repeat(4, 1fr);
        }
        &__item{
            grid-column: span 2;
        }
    }
}
@media (max-width: 492px){
    .benefits{
        &__items{
            max-width: 335px;
            grid-template-columns: repeat(4, 1fr);
            margin: 0 auto;
            margin-top: 45px;
            padding-bottom: 20px;
        }
        &__item{
            grid-column: span 4;
        }
        .title{
            font-size: 24px;
            
        }
    }
}