.card-services{
    max-width: 360px;
    width: 100%;
    height: 482px;
    padding: 250px 23px 33px 30px;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto;
    position: relative;
    &_first{
        background: url("../img/services/first-card-bg.png") center center/cover no-repeat;
    }
    &_second{
        background: url("../img/services/second-card-bg.png") center center/cover no-repeat;
    }
    &_third{
        background: url("../img/services/third-card-bg.png") center center/cover no-repeat;
    }
    &_fourth{
        background: url("../img/services/fourth-card-bg.png") center center/cover no-repeat;
    }
    &__title{
        font-weight: 700;
        font-size: 22px;
        line-height: 124.5%;
        margin-bottom: 13px;
        color: #FFFFFF;
    }
    &__description{
        max-width: 307px;
        font-weight: 400;
        font-size: 15px;
        line-height: 124.5%;
        color: #FFFFFF;
        margin-bottom: 14px;
    }
}

@media (max-width: 512px){
    .card-services{
        padding-top: 200px;
    }
}